{% extends "layout.html" %}

{% block title %}Books | {{ book.title }}{% endblock %}

{% block body %}
            Title: {{ book.title }}<br>
            Author: {{ book.author }}<br>
            ISBN: {{ book.isbn }}<br>
            Year: {{ book.year }}<br>
            {% if goodreadsData %}<br>
            Goodreads number of ratings: {{ goodreadsData.books[0].ratings_count }}<br>
            Goodreads averge rating: {{ goodreadsData.books[0].average_rating }}<br>
            {% endif %}<br>
            Rate the book:
            <form action="{{ url_for('books', book_id=book.book_id) }}" method="post">
                Your review:<br>
                <textarea name="review" cols="40" rows="5" value="">{{ user_review.review_text }}</textarea><br>
                <select name="rating">
                    <option value="1" {% if user_review.review_score == 1 %}selected="selected"{% endif %}>1</option>
                    <option value="2" {% if user_review.review_score == 2 %}selected="selected"{% endif %}>2</option>
                    <option value="3" {% if user_review.review_score == 3 %}selected="selected"{% endif %}>3</option>
                    <option value="4" {% if user_review.review_score == 4 %}selected="selected"{% endif %}>4</option>
                    <option value="5" {% if user_review.review_score == 5 %}selected="selected"{% endif %}>5</option>
                </select>
                {% if user_review %}<input type="submit" name="update" value="Update"><input type="submit" name="delete" value="Delete">{% else %}<input type="submit" name="add" value="Submit">{% endif %}
            </form>
            {% if user_review %}<br>
            Your current review:
                <ul>
                {% if user_review.review_text!="" %}{{ user_review.review_text }}<br>{% endif %}
                <i>Rated {{ user_review.review_score }}/5</i>
                </ul>
            {% endif %}{% if db_reviews %}<br>
            Other reviews:{% for review in db_reviews %}
                <ul>
                {% if review.review_text!="" %}{{ review.review_text }}<br>{% endif %}
                <i>Rated {{ review.review_score }}/5 by {{ review.getUsername() }}</i>
                </ul>{% endfor %}{% endif %}
{% endblock %}
